.intro {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /*background-image: url(images/fondo-degradado.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    color: #fff;
    display: cover;
    justify-content: center;
    align-items: center;
}